<h1 align="center">Bitte geben sie hier ihre URL ein</h1>

<form align="center" action="feed">
  <p>URL:<br><input name="url" type="text" size="50" maxlength="100"></p>
</form>

<p>You could also use the system if you enter the url in form atom.tar.li/feed/domain.de/atom.xml</p>

